li{
    list-style-type: none !important;
}
.hotline{
    margin: auto;
}
.carousel-item active{
    position: absolute;
}

.left-content{
    margin-top: 225px;
    
}
.left-content span{
    font-size: 15px;
    font-weight: bold;
    color:aliceblue;
    margin: 10px;

    
    

}
.left-content p{
    font-size: 60px;
    font-weight:bolder;
    color:aliceblue;
    font-family:'Times New Roman', Times, serif;
    margin: 10px;
    
}
.card-img-overlay span{
    font-size: 20px;
    font-weight:bolder;
    color:aliceblue;
    font-family:'Times New Roman', Times, serif;
    margin: 10px;

}

.card-img-overlay p{
    font-size: 20px;
    font-weight:bolder;
    color:aliceblue;
    font-family:'Times New Roman', Times, serif;
    margin: 10px;

}
