li{
    list-style-type: none !important;
}
.hotline{
    margin: auto;
}
.carousel-item active{
    position: absolute;
}

.left-content{
    margin-top: 180px;
    
}
.left-content span{
    font-size: 15px;
    font-weight: bold;
    color:aliceblue;
    margin: 10px;

    
    

}
.left-content p{
    font-size: 60px;
    font-weight:bolder;
    color:aliceblue;
    font-family:'Times New Roman', Times, serif;
    margin: 10px;
    
}
.card-img-overlay span{
    font-size: 20px;
    font-weight:bolder;
    color:aliceblue;
    font-family:'Times New Roman', Times, serif;
    margin: 10px;

}

.card-img-overlay p{
    font-size: 20px;
    font-weight:bolder;
    color:aliceblue;
    font-family:'Times New Roman', Times, serif;
    margin: 10px;

}
.h1{
    font-family:'Times New Roman', Times, serif;
    padding-top: 70px;
    text-align: center;
   

}
.card-img-top{
    border-radius: 50%;
    
}
.card-img-top:hover{
    transform: scale(1.1);
    
    

}
.card-img-top{
    transition: transform 1s;
}

.zoom:hover{
    transform: scale(1.1);
    
    

}
.zoom{
    transition: transform 1s;
}
.card-body:hover{
    background-color: blue;
    color: white;
}
.cards3:hover{
    transform:scale(1.1);
}
.card3{
    transition:transform 1s;
}

